ion-toolbar {
   --background: url('/assets/img/fondoxd.png') no-repeat center/cover;
}

.conte-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-mas{
    width: 100%;
    max-width: 200%;
      justify-content: center;
        align-items: center;
}
