.cabecera{
   text-align: center;
   padding: 25px;
   background: linear-gradient(135deg, rgba(247, 162, 162, 0.233), rgba(243, 167, 167, 0.705));
}

.acordion{
    padding: 15px;
}

.header{
     background: #fc0b0be5;
     margin-bottom: 10px;
}
.faq-content{
    padding: 15px;
    font-size: 14px;
    border-radius: 10px;
}