.footer { 
    background: #fffcfe34;
    padding: 12px 0;
    border-top: 1px solid #ffffffa4;
  }

  .footer-container {
     text-align: center;
   }
    
  .menu{
    margin-top: 10px;
  }
  .menu a {
    margin: 5px 12px;
    font-size: 14px;
    color: #ffffff;
  }
  .menu a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  