
<ion-footer class="footer">
  <div class="footer-container">

   
    <div class="social">

  <a href="https://www.facebook.com/?locale=es_LA" target="_blank">
    <img src="assets/icons/Facebook.svg" class="icon-red" />
  </a>

  <a href="https://instagram.com" target="_blank">
    <img src="assets/icons/instagram.png" class="icon-red" />
  </a>

  <a href="https://wa.me/593968266719" target="_blank">
    <img src="assets/icons/WhatsApp.svg" class="icon-red" />
  </a>

</div>

    <div class="menu">
      <a routerLink="/nosotros"> Nosotros</a>
      <a routerLink="/preguntas"> Preguntas frecuentes</a>
      <a routerLink="/horarios"> Horarios</a>
    </div>

   </div>
</ion-footer>
