//segundo card

.card2 {
   width: 250px auto;
   margin: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(243, 133, 206, 0.973);
}

//primer card 
ion-card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(255, 169, 233, 0.925);
    margin-bottom: 20px;
    width: 50;
}

.img {
     width: 500px;
        height: 200px;
     border-radius:auto; 
     margin-bottom: 5px;

}

h1, h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}


.carg {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 10px;
}
ion-content {
   --background: url('/assets/img/fondoxd.png') no-repeat center/cover;
}

ion-header {
   --background: linear-gradient(135deg, rgba(133, 51, 51, 0.452), rgba(243, 167, 167, 0.705));
}

ion-toolbar {
   --background: url('/assets/img/fondoxd.png') no-repeat center/cover;
}

ion-searchbar {
--background: url('/assets/img/fondoxd.png') no-repeat center/cover;}