<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pagina principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="carg">
<ion-card class="card2"  (click)="irvermas()"> 
  <ion-img src="assets/img/maqueta.png"  class="img"></ion-img>
  <ion-card-header>
    <ion-card-title>MAQUETAS</ion-card-title>
    <ion-card-subtitle color="warning">Precio: $25</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="card2"> 
  <ion-img src="assets/img/pt.jpg"  class="img"></ion-img>
  <ion-card-header>
    <ion-card-title>PORTAFOLIOS</ion-card-title>
    <ion-card-subtitle color="warning">Precio: $20</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card class="card2"> 
  <ion-img src="assets/img/mn.jpg"  class="img"></ion-img>
  <ion-card-header>
    <ion-card-title>TRABAJOS MANUALES</ion-card-title>
    <ion-card-subtitle color="warning">Precio: $10</ion-card-subtitle>
  </ion-card-header>
</ion-card>



<ion-card class="card2"> 
  <ion-img src="assets/img/pancarta.jpeg"  class="img"></ion-img>
  <ion-card-header>
    <ion-card-title>PANCARTAS</ion-card-title>
    <ion-card-subtitle color="warning">Precio: $35</ion-card-subtitle>
  </ion-card-header>
</ion-card>
</div>
 
</ion-content>
