
.contenedor-vermas{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.logo{
  width: 50px ;
  height: 50px;
  border-radius: 10px;
  

}

.imagen{
     width: 100%;
     max-width: 350px;
     border-radius: 18px;
     padding: 10px;
     box-shadow: 0px 8px 20px rgba(238, 156, 218, 0.979);
}
ion-content {
   --background: url('/assets/img/fondoxd.png') no-repeat center/cover;
}

ion-header:nth-of-type(2) ion-toolbar::part(background) {
  background: url('/assets/img/fondoxd.png') no-repeat center/cover !important;
}



